In [1]:
#collections are also called sequences
#we will look at lists, tuples, and sets

In [2]:
#lists; created using the []

courses = [] #empty list

In [3]:
courses

[]

In [4]:
courses = ['History', 'Math', 'Physics', 'Coding', 3]

In [5]:
courses

['History', 'Math', 'Physics', 'Coding', 3]

In [6]:
print(len(courses))

5

In [7]:
courses[1:3]

['Math', 'Physics']

In [8]:
courses.remove(3)
courses

['History', 'Math', 'Physics', 'Coding']

In [9]:
courses.append('Art')
courses

['History', 'Math', 'Physics', 'Coding', 'Art']

In [10]:
more_courses = ['English', 'Drafting']
more_courses

['English', 'Drafting']

In [11]:
courses.extend(more_courses)
courses

['History', 'Math', 'Physics', 'Coding', 'Art', 'English', 'Drafting']

In [12]:
courses.insert(2, 'Chemistry')
courses

['History',
 'Math',
 'Chemistry',
 'Physics',
 'Coding',
 'Art',
 'English',
 'Drafting']

In [13]:
#pop() returns a value

phy = courses.pop(3)
phy

'Physics'

In [14]:
courses

['History', 'Math', 'Chemistry', 'Coding', 'Art', 'English', 'Drafting']

In [15]:
for item in courses:
    print(item)

History
Math
Chemistry
Coding
Art
English
Drafting

In [16]:
message = "It's coffee time"
for m in message:
    print(m)

I
t
'
s

c
o
f
f
e
e

t
i
m
e

In [17]:
#using the "in" operator

print('Math' in courses)

True

In [18]:
courses

['History', 'Math', 'Chemistry', 'Coding', 'Art', 'English', 'Drafting']

In [19]:
'Programming' in courses

False

In [20]:
#to get the index, use the enumerate() function
#returns the index and the value

for i, c in enumerate(courses):
    print(i, '-->', c)

0 --> History
1 --> Math
2 --> Chemistry
3 --> Coding
4 --> Art
5 --> English
6 --> Drafting

In [21]:
#we can choose the index ourselves

for i, c in enumerate(courses, start=1):
    print(i, '-->', c)

1 --> History
2 --> Math
3 --> Chemistry
4 --> Coding
5 --> Art
6 --> English
7 --> Drafting

In [22]:
#using the join() method with strings

courses_str = ';'.join(courses)
print(courses_str)

History;Math;Chemistry;Coding;Art;English;Drafting

In [23]:
courses

['History', 'Math', 'Chemistry', 'Coding', 'Art', 'English', 'Drafting']

In [24]:
#split() method; creates a list from a string

courses_str

'History;Math;Chemistry;Coding;Art;English;Drafting'

In [25]:
new_list = courses_str.split(';') #no param means split over space
new_list

['History', 'Math', 'Chemistry', 'Coding', 'Art', 'English', 'Drafting']

In [27]:
#tuples; immutable
#use the comma to create

schools = ('GMU', 'GWU')
print(type(schools))

<class 'tuple'>

In [28]:
#() are not necessary

schools = 'Stanford', 'MIT', 'GWU'
print(type(schools))

<class 'tuple'>

In [29]:
t = (9)
print(type(t))

<class 'int'>

In [30]:
m = (9,)
print(type(m))

<class 'tuple'>

In [31]:
#empty tuple
e = tuple()
print(type(e))

<class 'tuple'>

In [32]:
schools

('Stanford', 'MIT', 'GWU')

In [33]:
schools[1:2]

('MIT',)

In [34]:
schools.append('GMU')

AttributeError: 'tuple' object has no attribute 'append'

In [35]:
#sets
#values are unordered and no duplicates are kept;
#duplicates are removed; use {} to create
set_courses = {'Coding', 'Math', 'Physics', 'Coding'}
set_courses

{'Coding', 'Math', 'Physics'}

In [36]:
print('Math' in set_courses)

True

In [37]:
art_courses = {'Art', 'Drafting', 'Coding'}
art_courses

{'Art', 'Coding', 'Drafting'}

In [38]:
set_courses.intersection(art_courses)

{'Coding'}

In [39]:
set_courses.difference(art_courses)

{'Math', 'Physics'}

In [40]:
set_courses.union(art_courses)

{'Art', 'Coding', 'Drafting', 'Math', 'Physics'}

In [41]:
#creating empty list, tuple, set

empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set = {} #doesn't work
empty_set = set()

In [42]:
my_set = {}
print(type(my_set))

<class 'dict'>