In [1]:
#pandas is an external library for data mining
#it can also be used for machine learing

import pandas as pd

In [2]:
#pandas series

s = pd.Series([1,4,9,16,25,49])

In [3]:
s

0     1
1     4
2     9
3    16
4    25
5    49
dtype: int64

In [5]:
m = [1,4,9,16,25,49]
m

[1, 4, 9, 16, 25, 49]

In [6]:
s.values

array([ 1,  4,  9, 16, 25, 49], dtype=int64)

In [7]:
s[1:3]

1    4
2    9
dtype: int64

In [8]:
n = pd.Series(['Math', 'History', 'Art', 'English', 'Government'])
n

0          Math
1       History
2           Art
3       English
4    Government
dtype: object

In [9]:
n[1:3]

1    History
2        Art
dtype: object

In [10]:
courses = pd.Series(['Math', 'History', 'Art', 'English', 'Government'], index=['m','h','a','e','g'])
courses

m          Math
h       History
a           Art
e       English
g    Government
dtype: object

In [11]:
courses['h':'e']

h    History
a        Art
e    English
dtype: object

In [12]:
courses = pd.Series(['Math', 'History', 'Art', 'English', 'Government'], index=[0,1,2,3,4])
courses

0          Math
1       History
2           Art
3       English
4    Government
dtype: object

In [13]:
courses[1:3]

1    History
2        Art
dtype: object

In [14]:
pop2021 = pd.Series([100,99,97,96,94,89,87], 
                    index=['Python', 'C#', 'Java', 'php', 'C++', 'C', 'Ruby'])

In [15]:
pop2021

Python    100
C#         99
Java       97
php        96
C++        94
C          89
Ruby       87
dtype: int64

In [17]:
pop2022 = pd.Series([100,96,94,89,86,77,72], 
                    index=['Python', 'C#', 'Java', 'php', 'C++', 'C', 'Ruby'])

In [18]:
pop2022

Python    100
C#         96
Java       94
php        89
C++        86
C          77
Ruby       72
dtype: int64

In [19]:
pop2022[2:5]

Java    94
php     89
C++     86
dtype: int64

In [20]:
pop2022['Java':'C++']

Java    94
php     89
C++     86
dtype: int64

In [21]:
#pandas data frames

two_years = pd.DataFrame({'2021': pop2021, '2022': pop2022})

In [22]:
two_years

        2021  2022
Python   100   100
C#        99    96
Java      97    94
php       96    89
C++       94    86
C         89    77
Ruby      87    72

In [23]:
#index lookup using numeric position with iloc

two_years.iloc[0:2]

        2021  2022
Python   100   100
C#        99    96

In [26]:
#lookup using actual index values with loc

two_years.loc['Python':'C#']

        2021  2022
Python   100   100
C#        99    96

In [27]:
#use ix which is deprecated
#first parameter is the row indexer and second is the column indexer

two_years.ix[:, ['2022']]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [29]:
two_years.loc[:, ['2022']]

        2022
Python   100
C#        96
Java      94
php       89
C++       86
C         77
Ruby      72

In [31]:
two_years.loc[:, '2022']

Python    100
C#         96
Java       94
php        89
C++        86
C          77
Ruby       72
Name: 2022, dtype: int64